
# BEGIN WordPress

DefaultLanguage ru
AddDefaultCharset windows-1251
php_value default_charset "cp1251"

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /beauty/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /beauty/index.php [L]
</IfModule>

# END WordPress